@{
    ViewData["Title"] = "وبسایت شخصی و معرفی نمونه کارها";
}






<partial name="Introduce"/>





@*Projects*@



@* Partial View Using *@

@*<partial name="Projects"/>*@
@*@await Html.PartialAsync("Projects",new List<Project>())*@

@await Component.InvokeAsync("Project");


<div class="container">
    <hr>
</div>




@await  Component.InvokeAsync("LastestArticles");







